.fade-enter {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}